@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

body{
    margin: 0;
    background-color: #F8F8F8;
}

button {
    cursor: pointer;
}

.home {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.home, .home_info, .text_info_home {
    display: grid;
}

.home_info {
    background-color: #246877;
    box-shadow: .3vw 0 1vw rgba(36,104,119, .4);
    grid-template-columns: 1fr;
    align-content: center;
}

.text_info_home {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: fit-content;
    grid-template-rows: repeat(3, min-content);
    height: fit-content;
    margin-top: 18vw;
    justify-self: center;
}

.home_info p {
    font-size: 1.9vw;
    color: #F8F8F8;
    margin: 0;
    margin-bottom: 1.5em;
}

.buttons_home {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(2, max-content);
}

.button_mis_peliculas, .button_agregar_pelicula, .home_info p {
    font-family: Ubuntu;
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.home_info span {
    display: grid;
    margin-right: 1em ;
}

.icon_website_home {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    width: 30vw;
}

.button_mis_peliculas {
    background: #F8F8F8;
    color: #246877;
    margin-bottom: 3em;
}

.button_agregar_pelicula {
    background: #246877;
    color: #F8F8F8;
}

.button_mis_peliculas, .button_agregar_pelicula {
    text-decoration: none;
    width: 22vw;
    height: 6.5vw;
    box-shadow: .3vw .3vw .5vw rgba(167, 167, 167, 0.25);
    border-radius: .8vw;
    border: none;
    padding: 0;
    justify-content: center;
    font-size: 1.9vw;
}

.movies_nav {
    display: grid;
    align-content: center;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 15vh;
    background: #F8F8F8;
    box-shadow: 0 .1vw .3vw rgba(167, 167, 167, 0.25);
}

.home_link, .mis_peliculas_link, .movies_nav img {
    grid-row: 1 / -1;
    align-self: center;
}

.movies_nav img {
    width: 24vh;
    margin-left: 4vw;
}

.home_link {
    margin-right: 14em;
}

.mis_peliculas_link {
    margin-right: 4vw;
}

.home_link, .mis_peliculas_link {
    grid-column: 2 / -1;
    justify-self: right;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #246877;
    text-decoration: none;
}

.add_movie_container {
    display: grid;
}

.buscador {
    display: grid;
    width: 50%;
    grid-template-rows: 1fr;
    margin-top: 22vh;
    justify-self: center;
}

.search_input {
    align-self: flex-end;
    background-color: #F8F8F8;
    border: 0;
    outline: none;
    caret-color: #246877;
    color: #246877;
}

::placeholder, .search_input, .helper p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    letter-spacing: 0.05em;
    padding-bottom: 0.3em;
}

.helper p {
    width: 30vw;
    text-align: center;
    color: #246877;
    margin: 0;
    padding: 0;
}

.helper {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.arrow_search, .helper p {
    justify-self: center;
}

.arrow_search {
    animation-name: move_arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 2.8vw;
}

::placeholder {
    color: #E5E5E5;
}

input:focus::placeholder {
    color: transparent;
}

.lupa, .search_input {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.search_line {
    height: 1vw;
    width: 100%;
}

.lupa {
    width: 2.5vw;
    justify-self: right;
    align-self: center;
    margin-right: 1em;
    padding-bottom: 0.3em;
}

@keyframes move_arrow {
    0% { margin-top: 2vh; }
    50% { margin-top: 4vh; }
    100% { margin-top: 2vh;}
}

.js-opacity-transition {
    transition-property: opacity;
    transition-duration: .4s;
}

.my_stars {
    margin: 0;
    margin-right: 12vw;
}

.my_stars img {
    width: 3.5vw;
    margin: 0;
}

.movie_success_message, .msg_deleted {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
}

.movie_success_message img {
    width: 12vw;
    justify-self: center;
    height: 12vh;
    margin-top: 10%;
}

.movie_success_message p, .msg_deleted p {
    margin: 0;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vw;
    text-align: center;
    letter-spacing: 0.05em;
    width: 20vw;
    color: #F8F8F8;
    justify-self: center;
    height: fit-content;
}

.msg_deleted p {
    width: 30vw;
}

.js-opacity-0 {
    opacity: 0;
}

.js-display-none {
    display: none !important;
}

.card {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 60vw;
    height: 50vh;
    box-shadow: .2vw .2vw .5vw .2vw rgba(167, 167, 167, 0.25);
    border-radius: 1vw;
    overflow: hidden;
    justify-self: center;
    margin-bottom: 4vw;
}

.body_en_card {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.card_image {
    width: 20vw;
    height: 50vh;
    border-radius: .5vw 0 0 .5vw;
    z-index: 1;
}

.container_info_card {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    border-radius: 0 .5vh .5vw 0;
    grid-template-rows: 1fr 2fr;
}

.info_card {
    display: grid;
    margin-left: 10%;
    height: fit-content;
    margin-top: 6vh;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.button_calificar, .button_add_movie {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    align-self: flex-end;
    margin-bottom: 2.5vw;
}

.titulo, .director, .fecha {
    font-weight: 300;
    margin: 0;
    font-size: 1.2vw;
}

.titulo_value, .director_value, .fecha_value {
    font-weight: 500;
    margin: 0;
    font-size: 1.8vw;
}

.titulo_and_value, .director_and_value, .fecha_and_value, .calificacion_and_value {
    align-self: center;
    font-family: Ubuntu;
    font-style: normal;
    letter-spacing: 0.05em;
    color: #246877;
}

.titulo_and_value, .director_and_value, .fecha_and_value {
    margin-bottom: 5%;
}

.calificacion_and_value {
    margin: 0;
}

.button_add_movie {
    grid-column: 1 / -1;
}

.icon_delete_card, .icon_edit {
    grid-row: 1 / 2;
}

.icon_delete_card, .arrow_left, .icon_edit {
    margin-right: 1vw;
    margin-top: 2vh;
    cursor: pointer;
    width: 1.8vw;
}

.icon_edit {
    margin-right: 1.6vw;
}

.js-translate-left {
    animation-name: translate_left;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes translate_left {
    from { transform: translateX(0);}
    to {transform: translateX(-100%);}
}

.arrow_left {
    justify-self: right;
}

.action_icons {
    height: fit-content;
    justify-self: right;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.container_puntuar {
    grid-template-rows: repeat(5, 1fr);
}

.container_borrar, .container_puntuar {
    display: grid;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    transform: translateX(-100%);
    background-color: #F8F8F8;
}

.info_borrar {
    display: grid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.change_background_color {
    animation-name: change_background;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

@keyframes change_background {
    from { background-color: #F8F8F8;}
    to { background-color: #7FC379;}
}

@keyframes background_red {
    from { background-color: #F8F8F8;}
    to { background-color: #F02323;}
}

.js-background-red {
    animation: show_container .5s forwards, background_red .5s .3s forwards;
}

.js-show-container {
    animation-name: show_container;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes show_container {
    from { transform: translateX(-100%);}
    to { transform: translateX(0);}
}

.button_cancelar, .button_enviar, .button_add_movie, .button_calificar, .button_borrar {
    box-shadow: .1vw .1vw .1vw .1vw rgba(167, 167, 167, 0.25);
    border-radius: .5vw;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    text-align: center;
    letter-spacing: 0.05em;
    outline: none;
    border: none;
    height: 3.5vw;
    padding-right: 3%;
    padding-left: 3%;
}

.button_cancelar, .button_enviar, .button_calificar, .button_borrar {
    width: 10vw;
}

.button_add_movie, .button_calificar {
    margin-left: 10%;
}

.button_cancelar {
    background: #F8F8F8;
    color: #246877;
    margin-right: 4vw;
}

.button_borrar {
    background: #F02323;
    color: #F8F8F8;
}

.button_enviar, .button_calificar, .button_add_movie {
    background: #246877;
    color: #F8F8F8;
}

.info_card_con_puntaje {
    align-self: center;
    margin-top: 0;
}

.button_add_movie {
    width: 16vw;
}

.stars {
    height: fit-content;
    justify-self: center;
}

.stars img {
    width: 4vw;
    cursor: pointer;
}

.container_puntuar h1, .container_borrar h1, .container_puntuar p {
    font-family: Ubuntu;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.05em;
    color: #246877;
    margin: 0;
    height: fit-content;
}

.container_borrar h1 {
    justify-self: center;
    width: 80%;
}

.container_puntuar h1, .container_borrar h1 {
    font-weight: 500;
    font-size: 2.2vw;
}

.container_puntuar p {
    font-weight: 300;
    font-size: 1.5vw;
}

.action_buttons {
    justify-self: center;
}
