@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    margin: 0;
    background-color: #F8F8F8;
}

button {
    cursor: pointer;
}

.home {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.home, .home_info, .text_info_home {
    display: grid;
}

.home_info {
    background-color: #246877;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-rows: max-content 1fr;
}

.text_info_home {
    width: fit-content;
    grid-template-rows: repeat(3, min-content);
    height: fit-content;
    margin-top: 6.5em;
    margin-left: 5.5em;
}

 .icon_website_home {
    justify-self: center;
}

.home_info p {
    font-size: 28px;
    color: #F8F8F8;
    margin: 0;
    margin-bottom: 1.5em;
}

.buttons_home {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(2, max-content);
}

.button_mis_peliculas, .button_agregar_pelicula, .home_info p {
    font-family: Ubuntu;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.home_info span {
    display: grid;
    margin-right: 1em ;
}

.icon_website_home {
    margin-top: 6em;
}

.button_mis_peliculas {
    background: #F8F8F8;
    color: #246877;
    margin-bottom: 3em;
}

.button_agregar_pelicula {
    background: #246877;
    color: #F8F8F8;
}

.button_mis_peliculas, .button_agregar_pelicula {
    width: 350px;
    height: 101px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding: 0;
    justify-content: center;
    font-size: 30px;
}

.movies_nav {
    display: grid;
    align-content: center;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    width: 1280px;
    height: 100px;
    background: #F8F8F8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.home_link, .mis_peliculas_link, .movies_nav img {
    grid-row: 1 / -1;
    align-self: center;
}

.movies_nav img {
    margin-left: 4em;
}

.home_link {
    margin-right: 14em;
}

.mis_peliculas_link {
    margin-right: 3em;
}

.home_link, .mis_peliculas_link {
    grid-column: 2 / -1;
    justify-self: right;
    height: 34px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #246877;
    text-decoration: none;
}

.add_movie_container {
    display: grid;
    grid-template-rows: 1fr;
}

.buscador {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 10em;
    justify-self: center;
}

.search_input {
    align-self: flex-end;
    font-size: 50px;
    background-color: #F8F8F8;
    border: 0;
    outline: none;
    caret-color: #246877;
    color: #246877;
}

::placeholder, .search_input, .helper p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    letter-spacing: 0.05em;
    padding-bottom: 0.3em;
}

.helper p {
    width: 589px;
    text-align: center;
    color: #246877;
    margin: 0;
    padding: 0;
}

.helper {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.arrow_search, .helper p {
    justify-self: center;
}

.arrow_search {
    margin-top: 4em;
}

::placeholder {
    color: #E5E5E5;
}

input:focus::placeholder {
    color: transparent;
}

.lupa, .search_input {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.lupa {
    justify-self: right;
    align-self: center;
    margin-right: 1em;
    padding-bottom: 0.3em;
}

@keyframes move_arrow {
    0% { margin-top: 3em; }
    50% { margin-top: 2em; }
    100% { margin-top: 3em;}
}

.arrow_search {
    animation-name: move_arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.opacity_transition {
    transition-property: opacity;
    transition-duration: .5s;
}

.hidden {
    opacity: 0;
}


