<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar película</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="add-movie-container">

    <%- include('partials/nav.ejs') %>

      <div class="buscador">
        <input type="text" class="search_input js-search-input" placeholder="ej: Los increibles">
        <img src="img/lupa.svg" class="lupa js-lupa" alt="lupa">
        <button class="button_search js-button-search js-opacity-transition js-display-none js-opacity-0">
          <p>Buscar</p>
          <img src="img/lupa_blanca.svg" class="lupa_button_search" alt="lupa">
        </button>
      </div>
      <div class="loader js-display-none js-loader">
        <p>Buscando</p>
        <div class="loader_icon lds-dual-ring"></div>
      </div>
      <div class="no_results js-no-results-msg js-display-none">
        <img src="img/no_movie_icon.svg" class="no_movie_icon" alt="">
        <p>Ups... no encontramos películas con ese nombre. Intenta con otro título</p>
      </div>
      <div class="helper js-helper-search-movie">
        <img src="img/arrow_search.svg" class="arrow_search" alt="arrow search">
        <p>Clickea el buscador para empezar a escribir</p>
      </div>
      <div class="js-cards-add-movies cards-add-movies">

      </div>

  </div>

  <div class="add-movies-page-mobile js-display-none">
    <div class="helper-mobile js-helper-mobile">
      <p class="text-helper-mobile">Toca el buscador para empezar a escribir</p>
      <img src="img/arrow-helper-mobile.svg" class="arrow-helper-mobile" alt="arrow helper mobile">
    </div>
    <input type="text" class="buscador-mobile js-search-input-mobile">
    <button class="button-search-mobile js-btn-search-mobile js-display-none">
      <p class="text-btn-search-mobile">Buscar</p>
    </button>
    <nav class="nav-mobile">
      <a href="/" class="home-icon-container">
        <img src="img/home_icon_mobile.svg" class="icon-home" alt="home icon">
        <p class="home-icon-text">Home</p>
      </a>
      <a href="/my_movies" class="my-movies-icon-container">
        <img src="img/my_movies_icon.svg" class="icon-my-movies" alt="my movies icon">
        <p class="my-movies-icon-text">Mis películas</p>
      </a>
      <a href="/add_movies" class="search-icon-container">
        <img src="img/search_icon.svg" class="icon-search" alt="search icon">
        <p class="search-icon-text">Buscar</p>
      </a>
    </nav>
    <div class="loader js-loader-mobile js-display-none">
      <p>Buscando</p>
      <div class="loader-icon lds-dual-ring"></div>
    </div>
  </div>

  <script src="js/main.js"></script>
  <script src="js/ejs.min.js"></script>
</body>

</html>