<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="home">
    <div class="home_info">
      <img src="img/icon_website.svg" class="icon_website_home" alt="icon website">
      <div class="text_info_home">
        <p> <span><img src="img/dot.svg" alt="dot"></span> Agregá películas</p>
        <p> <span><img src="img/dot.svg" alt="dot"></span> Puntualas cuando quieras</p>
        <p> <span><img src="img/dot.svg" alt="dot"></span> Observalas en tu lista</p>
      </div>
    </div>
    <div class="buttons_home">
      <a href="/my_movies" class="button_mis_peliculas">Mis películas</a>
      <a href="/add_movies" class="button_agregar_pelicula">Agregar película</a>
    </div>
  </div>
  <div class="home-smartphone">
    <img src="img/icon_website_mobile.svg" class="icon-website-smartphone" alt="icon website smartphone">
    <div class="info-home-smartphone">
      <p> <span><img src="img/dot_green.svg" class="dot-home-smartphone" alt="dot"></span> Agregá películas</p>
      <p> <span><img src="img/dot_green.svg" class="dot-home-smartphone" alt="dot"></span> Observalas en tu lista</p>
      <p> <span><img src="img/dot_green.svg" class="dot-home-smartphone" alt="dot"></span> Puntualas cuando quieras</p>
    </div>
    <a href="/add_movies" class="search-button-home-smartphone">Buscar película</a>
    <a href="/my_movies" class="my-movies-button-home-smartphone">Mis películas</a>
  </div>
  
</body>

</html>