<nav class="movies_nav">
    <a class="icon_movie_nav" href="/" alt="icon nav">
        <img src="img/icon_nav.svg" alt="icon nav">
    </a>
    <a class="add_movie_link" href="/add_movies">
        <p>Agregar películas</p>
        <img src="img/dot_nav.svg" class="dot_add_movie js-dot-add-movie js-display-none" alt="dot that indicates current page">
    </a>
    <a class="mis_peliculas_link" href="/my_movies">
        <p>Mis películas</p>
        <img src="img/dot_nav.svg" class="dot_my_movies js-dot-my-movies js-display-none" alt="dot that indicates current page">
    </a>
</nav>